* { scroll-behavior: smooth; }

.min-vh-100 {
	min-height: 100vh;
}

.max-width-100 {
	max-width: 100%;
}

.dark-shadow {
	box-shadow: 0px 3px 10px #00000080;
}

.navbar.topbar,
.navbar.topbar * {
	background-color: #f7f7f7;
	color: #000;
}

.navbar.topbar * {
	font-family: 'Arial';
}

.navbar.topbar .nav-link {
	padding-top: .875rem;
	padding-bottom: .875rem;
}

.navbar.topbar .active {
	background-color: #e4e4e4;
	color: #333;
}

.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

/* Carousel Styling */
.slick-slide {
	margin: 0;
}
.slick-list {
	margin: 0 -15px;
}

.slick-prev:before, .slick-next:before {
	color: gray;
	font-size: 40px;
}

.slick-prev, .slick-next {
	/*top: 42.5%;*/
	z-index: 10;
}
.slick-prev, .custom-slick-prev { left: 0px; }
.slick-next, .custom-slick-next { right: 0px; }

.custom-slick-arrow {
	background: transparent;
	color: transparent;

	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	padding: 0;
	border: none;
	outline: none !important;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);

	z-index: 10;

	width: 2.75rem;
	height: 4rem;
	background-size: cover;
	opacity: .01;
	
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

.slick-slider:focus-within .custom-slick-arrow, 
.slick-slider:hover .custom-slick-arrow {
	opacity: .5;
}

.custom-slick-arrow:hover {
	opacity: 1!important;
}

.custom-slick-prev { background-position: left!important; }
.custom-slick-next { background-position: right!important; }

.gallery-content {
	background-color: rgba(0, 0, 0, 0.407);
	color: #FFF;
	font-size: 12px;
	padding: 10px;
	height: 100px; 
	position: relative; 
	top: -100px;
	width: 100%;
}

.gallery-image {
	width: 100%;
	height: 50rem;
	object-fit: cover;
	object-position: center;
}

.user-icon {
	max-width: 3.75rem;
	max-height: 3.75rem;
}

.hr-thick {
	border-width: 2.5px!important;
	border-top-width: 2.5px!important;
}

.hr-thick-50 {
	border-width: 1.25px!important;
	border-top-width: 1.25px!important;
}

.hr-line-border {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hr-line-border::after {
	content: " ";
	border-bottom: 5px solid #FFCB05!important;
	width: 150px;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-x-scroll {
	overflow-x: scroll;
}

.overflow-x-auto {
	overflow-x: auto;
}

.overflow-x-hidden, .overflox-x-none {
	overflow-x: hidden;
}

.overflow-y-scroll {
	overflow-y: scroll;
}

.overflow-y-auto {
	overflow-y: auto;
}

.overflow-y-hidden, .overflow-y-none {
	overflow-y: hidden;
}

.cursor-pointer {
	cursor: pointer!important;
}

.cursor-default {
	cursor: default!important;
}

.w-xs-100 {
	width: 100%!important;
}

.w-xs-75 {
	width: 75%!important;
}

.w-xs-50 {
	width: 50%!important;
}

.w-xs-25 {
	width: 25%!important;
}

.w-xs-auto {
	width: auto!important;
}

.position-static,
.position-xs-static {
	position: static !important;
}

.position-relative,
.position-xs-relative {
	position: relative !important;
}

.position-absolute,
.position-xs-absolute {
	position: absolute !important;
}

.position-fixed,
.position-xs-fixed {
	position: fixed !important;
}

.position-sticky,
.position-xs-sticky {
	position: sticky !important;
}

.text-indent-1,
.text-indent-xs-1 {
	text-indent: 1rem;
}

.text-indent-2,
.text-indent-xs-2 {
	text-indent: 2rem;
}

.text-indent-3,
.text-indent-xs-3 {
	text-indent: 3rem;
}

.text-indent-4,
.text-indent-xs-4 {
	text-indent: 4rem;
}

.text-indent-5,
.text-indent-xs-5 {
	text-indent: 5rem;
}

.border-w-1,
.border-w-xs-1 {
	border-width: 1px;
}

.border-w-2,
.border-w-xs-2 {
	border-width: 2px;
}

.border-w-3,
.border-w-xs-3 {
	border-width: 3px;
}

.border-w-4,
.border-w-xs-4 {
	border-width: 4px;
}

.border-w-5,
.border-w-xs-5 {
	border-width: 5px;
}

.opacity-0,
.opacity-xs-0 {
	opacity: 0;
}

.opacity-100,
.opacity-xs-100 {
	opacity: 100%;
}

.h-inherit,
.h-xs-inherit {
	height:  inherit!important;
}

.card-columns-5,
.card-columns-xs-5 {
	column-count: 5;
	-moz-column-count: 5;
}

.text-truncate-2 {
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	max-width: 100%;
}

.announcement-img~ .card-text, .text-truncate-3 {
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	max-width: 100%;
}

.text-truncate-4 {
	-webkit-line-clamp: 4;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	max-width: 100%;
}

.text-truncate-5 {
	-webkit-line-clamp: 5;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	max-width: 100%;
}

.text-truncate-6 {
	-webkit-line-clamp: 6;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	max-width: 100%;
}

.circular-border {
	border-radius: 50%;
}

textarea.not-resizable {
	resize: none;
}

.important:after {
	content: " *";
	color: #dc3545;
}

.backdrop-blur,
.backdrop-xs-blur {
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	-moz-backdrop-filter: blur(8px);
	-o-backdrop-filter: blur(8px);
}

/* ANIMATION RELATED */
/* ENLARGE ON HOVER */
.enlarge-on-hover {
	position: relative;

	-webkit-transition: .125s linear;
	-moz-transition: .125s linear;
	-ms-transition: .125s linear;
	-o-transition: .125s linear;
	transition: .125s linear;
}
.enlarge-on-hover:hover {
	z-index: 1;
	
	-webkit-transform: scale(102.5%);
	-moz-transform: scale(102.5%);
	-ms-transform: scale(102.5%);
	-o-transform: scale(102.5%);
	transform: scale(102.5%);
}
.enlarge-on-hover:hover ~ * {
	z-index: 0;
}

/* VISIBLE ON HOVER */
.visible-on-hover {
	-webkit-transition: .125s linear;
	-moz-transition: .125s linear;
	-ms-transition: .125s linear;
	-o-transition: .125s linear;
	transition: .125s linear;
	
	opacity: 0;
}
.visible-on-hover:hover {
	opacity: 1;
}
/* ANIMATION RELATED END */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.w-sm-100 {
		width: 100%!important;
	}

	.w-sm-75 {
		width: 75%!important;
	}

	.w-sm-50 {
		width: 50%!important;
	}

	.w-sm-25 {
		width: 25%!important;
	}

	.w-sm-auto {
		width: auto!important;
	}

	.position-sm-static {
		position: static !important;
	}

	.position-sm-relative {
		position: relative !important;
	}

	.position-sm-absolute {
		position: absolute !important;
	}

	.position-sm-fixed {
		position: fixed !important;
	}

	.position-sm-sticky {
		position: sticky !important;
	}

	.text-indent-sm-1 {
		text-indent: 1rem;
	}

	.text-indent-sm-2 {
		text-indent: 2rem;
	}

	.text-indent-sm-3 {
		text-indent: 3rem;
	}

	.text-indent-sm-4 {
		text-indent: 4rem;
	}

	.text-indent-sm-5 {
		text-indent: 5rem;
	}

	.border-w-sm-1 {
		border-width: 1px;
	}

	.border-w-sm-2 {
		border-width: 2px;
	}

	.border-w-sm-3 {
		border-width: 3px;
	}

	.border-w-sm-4 {
		border-width: 4px;
	}

	.border-w-sm-5 {
		border-width: 5px;
	}

	.backdrop-sm-blur {
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(8px);
		-moz-backdrop-filter: blur(8px);
		-o-backdrop-filter: blur(8px);
	}

	.opacity-sm-0 {
		opacity: 0;
	}

	.opacity-sm-100 {
		opacity: 100%;
	}

	.h-sm-inherit {
		height:  inherit!important;
	}

	.card-columns-sm-5 {
		column-count: 5;
		-moz-column-count: 5;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.w-md-100 {
		width: 100%!important;
	}

	.w-md-75 {
		width: 75%!important;
	}

	.w-md-50 {
		width: 50%!important;
	}

	.w-md-25 {
		width: 25%!important;
	}

	.w-md-auto {
		width: auto!important;
	}

	.position-md-static {
		position: static !important;
	}

	.position-md-relative {
		position: relative !important;
	}

	.position-md-absolute {
		position: absolute !important;
	}

	.position-md-fixed {
		position: fixed !important;
	}

	.position-md-sticky {
		position: sticky !important;
	}

	.text-indent-md-1 {
		text-indent: 1rem;
	}

	.text-indent-md-2 {
		text-indent: 2rem;
	}

	.text-indent-md-3 {
		text-indent: 3rem;
	}

	.text-indent-md-4 {
		text-indent: 4rem;
	}

	.text-indent-md-5 {
		text-indent: 5rem;
	}

	.border-w-md-1 {
		border-width: 1px;
	}

	.border-w-md-2 {
		border-width: 2px;
	}

	.border-w-md-3 {
		border-width: 3px;
	}

	.border-w-md-4 {
		border-width: 4px;
	}

	.border-w-md-5 {
		border-width: 5px;
	}

	.backdrop-md-blur {
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(8px);
		-moz-backdrop-filter: blur(8px);
		-o-backdrop-filter: blur(8px);
	}

	.opacity-md-0 {
		opacity: 0;
	}

	.opacity-md-100 {
		opacity: 100%;
	}

	.h-md-inherit {
		height:  inherit!important;
	}

	.card-columns-md-5 {
		column-count: 5;
		-moz-column-count: 5;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.w-lg-100 {
		width: 100%!important;
	}

	.w-lg-75 {
		width: 75%!important;
	}

	.w-lg-50 {
		width: 50%!important;
	}

	.w-lg-25 {
		width: 25%!important;
	}

	.w-lg-auto {
		width: auto!important;
	}

	.position-lg-static {
		position: static !important;
	}

	.position-lg-relative {
		position: relative !important;
	}

	.position-lg-absolute {
		position: absolute !important;
	}

	.position-lg-fixed {
		position: fixed !important;
	}

	.position-lg-sticky {
		position: sticky !important;
	}

	.text-indent-lg-1 {
		text-indent: 1rem;
	}

	.text-indent-lg-2 {
		text-indent: 2rem;
	}

	.text-indent-lg-3 {
		text-indent: 3rem;
	}

	.text-indent-lg-4 {
		text-indent: 4rem;
	}

	.text-indent-lg-5 {
		text-indent: 5rem;
	}

	.border-w-lg-1 {
		border-width: 1px;
	}

	.border-w-lg-2 {
		border-width: 2px;
	}

	.border-w-lg-3 {
		border-width: 3px;
	}

	.border-w-lg-4 {
		border-width: 4px;
	}

	.border-w-lg-5 {
		border-width: 5px;
	}

	.backdrop-lg-blur {
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(8px);
		-moz-backdrop-filter: blur(8px);
		-o-backdrop-filter: blur(8px);
	}

	.opacity-lg-0 {
		opacity: 0;
	}

	.opacity-lg-100 {
		opacity: 100%;
	}

	.h-lg-inherit {
		height:  inherit!important;
	}

	.card-columns-lg-5 {
		column-count: 5;
		-moz-column-count: 5;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.w-xl-100 {
		width: 100%!important;
	}

	.w-xl-75 {
		width: 75%!important;
	}

	.w-xl-50 {
		width: 50%!important;
	}

	.w-xl-25 {
		width: 25%!important;
	}

	.w-xl-auto {
		width: auto!important;
	}

	.position-xl-static {
		position: static !important;
	}

	.position-xl-relative {
		position: relative !important;
	}

	.position-xl-absolute {
		position: absolute !important;
	}

	.position-xl-fixed {
		position: fixed !important;
	}

	.position-xl-sticky {
		position: sticky !important;
	}

	.text-indent-xl-1 {
		text-indent: 1rem;
	}

	.text-indent-xl-2 {
		text-indent: 2rem;
	}

	.text-indent-xl-3 {
		text-indent: 3rem;
	}

	.text-indent-xl-4 {
		text-indent: 4rem;
	}

	.text-indent-xl-5 {
		text-indent: 5rem;
	}

	.border-w-xl-1 {
		border-width: 1px;
	}

	.border-w-xl-2 {
		border-width: 2px;
	}

	.border-w-xl-3 {
		border-width: 3px;
	}

	.border-w-xl-4 {
		border-width: 4px;
	}

	.border-w-xl-5 {
		border-width: 5px;
	}

	.backdrop-xl-blur {
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(8px);
		-moz-backdrop-filter: blur(8px);
		-o-backdrop-filter: blur(8px);
	}

	.opacity-xl-0 {
		opacity: 0;
	}

	.opacity-xl-100 {
		opacity: 100%;
	}

	.h-xl-inherit {
		height:  inherit!important;
	}

	.card-columns-xl-5 {
		column-count: 5;
		-moz-column-count: 5;
	}
}