.floating-label-input,
.floating-label-group {
	position: relative!important;
}

.floating-label-input,
.floating-label-input:focus {
	z-index: 2;
}

.floating-label {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 0.5rem;
	
	-webkit-transition: .125s;
	-moz-transition: .125s;
	-ms-transition: .125s;
	-o-transition: .125s;
	transition: .25s;

	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

textarea ~.floating-label {
	top: 1rem;
	left: 0.5rem;
}

.floating-label-input:focus ~.floating-label,
.floating-label-input:not(:placeholder-shown) ~.floating-label {
	top: 0;
	left: 0.5rem;

	font-size: 75%;
}